
body {
    width:fit-content;
    opacity: inherit;
}

.superimpose{
    width:100%;
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 7%;
}
.superimposeCenter{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    color: transparent;   
    

  
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:oblique;
    font-size: 40px;
}
.name {
    position: absolute;
    top: 60%;
    left: 65%;
    color: antiquewhite;
    font-size: 20px;
    
    font-style: normal;
}
.contact {
    width: 50%;
    height: 5%;
    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-50%, -50%);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    color: transparent; 
  
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:oblique;
    font-size: 20px;
}


#menu {
    background-image: none;
    margin: auto;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;

}

ul,
ol {
    background-image: none;
    list-style: none;
}

.nav>li {
    display: inline-block;
    background-image: none;
    
justify-content:space-between;
}
.contactEmail{
    border: 0cm;
    background-image: none;
    background-color: rgba(255, 235, 205, 0.13);
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    display: block;
}
.contactEmail:hover{
    background-image: none;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)

}
.nav li a {
    background-image: none;
    background-color: rgba(255, 235, 205, 0.13);
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    display: block;

}

.nav li a:hover {
    background-image: none;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)

}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display:contents
    
}

.nav li ul li {
    position: relative;
    height: max-content;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

.background {
    opacity: 0.9;
    width:100%;
    margin: 0%;
}
.col {
    display: inline-block;
}
.contact .ul .li {
    display:inline;
   justify-content:center;
    align-content: flex-end;
    width: 10%;
}
.btnSocial{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	
	animation: gradient 15s ease infinite;
	
}
.title{
    position: absolute;
    margin-top: 5%;
    left: 40%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    color: transparent; 

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:oblique;
    font-size: 40px;
}


#imgJaP{
    margin-top: 15%;
    width:min-content
}
.pageKnowledge{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
