body {
    background-image: linear-gradient(to bottom, rgb(0, 41, 41), #310314);
    width: fit-content;
    opacity: inherit;
}


.superimposeCenter {

    position: absolute;
    width: 330px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-size: 35px;
}

.name {
    position: fixed;
    justify-content: flex-end;
    top: 65%;
    left: 48%;
    color: antiquewhite;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.contact {
    width: 80%;
    height: 3%;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    color: transparent;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-size: 20px;
}


#menu {
    background-image: none;
    margin: auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

ul,
ol {
    background-image: none;
    list-style: none;
}

.nav>li {
    display: inline-block;
    background-image: none;

    justify-content: space-between;
}

.contactEmail {
    border: 0cm;
    background-image: none;
    background-color: rgba(255, 235, 205, 0.13);
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    display: block;
}

.contactEmail:hover {
    background-image: none;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
}

.nav li a {
    background-image: none;
    background-color: rgba(255, 235, 205, 0.13);
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    display: block;

}

.nav li a:hover {
    background-image: none;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: contents
}

.nav li ul li {
    position: relative;
    height: max-content;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

.background {
    opacity: 0.9;
    width: 100%;
    margin: 0%;
}

.col {
    display: inline-block;
}

.contact .ul .li {
    display: inline;
    justify-content: center;
    align-content: flex-end;
    width: 10%;
}

.btnSocial {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

    animation: gradient 15s ease infinite;

}

.title {
    position: absolute;
    margin-top: 5%;
    left: 40%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    color: transparent;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-size: 40px;
}


@media (min-width:600px) {
    .background {
        opacity: 0.9;
        width: 100%;
        margin:auto;
        display: block;
        padding: auto;
        padding-left: 325px;

    }

    .groupMain{

        padding-top: 0%;
        
    }
   
    .barMain {
        width: 100%;
        top: 10px;
        left: 50%;
        margin-left: 43%;
       

    }
.barPortfolio{
    width: 50%;
    justify-content: center;
    display: inline-flex;
}
    .superimposeCenter {
        width: 60%;
        position: absolute;
        padding-left: 10%;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        -webkit-background-clip: text;
        color: transparent;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: oblique;
        font-size: 60px;
    }

    .name {
        position: absolute;
        top: 65%;
        left: 45%;
        color: antiquewhite;
        font-size: 30px;
        font-style: normal;
        padding-left: 10%;
    }

    .contact {
        justify-content: center;
        width: 50%;
        height: 5%;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        -webkit-background-clip: text;
        color: transparent;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: oblique;
        font-size: 20px;
    }

    #menu {
        background-image: none;
        margin: auto;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }


    ul,
    ol {
        background-image: none;
        list-style: none;
    }

    .nav>li {
        display: inline-block;
        background-image: none;

        justify-content: space-between;
    }

    .contactEmail {
        border: 0cm;
        background-image: none;
        background-color: rgba(255, 235, 205, 0.13);
        color: #fff;
        text-decoration: none;
        padding: 10px 25px;
        display: block;
    }

    .contactEmail:hover {
        background-image: none;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
    }

    .nav li a {
        background-image: none;
        background-color: rgba(255, 235, 205, 0.13);
        color: #fff;
        text-decoration: none;
        padding: 10px 25px;
        display: block;

    }

    .nav li a:hover {
        background-image: none;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
    }

    .nav li ul {
        display: none;
        position: absolute;
        min-width: 140px;
    }

    .nav li:hover>ul {
        display: contents
    }

    .nav li ul li {
        position: relative;
        height: max-content;
    }

    .nav li ul li ul {
        right: -140px;
        top: 0px;
    }

   
    .col {
        display: inline-block;
    }

    .contact .ul .li {
        display: inline;
        justify-content: center;
        align-content: flex-end;
        width: 10%;
    }

    .btnSocial {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

        animation: gradient 15s ease infinite;

    }

    .btnes :first-child {
        position: absolute;
        margin-top: 5%;
        left: 40%;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        -webkit-background-clip: text;
        color: transparent;

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: oblique;
        font-size: 10px;
    }

.aboutMe{
    background-color: #1a0009;
    color: darkgray;
    font-family:cursive;
}
    .photo{
       float: inline-start;
        width: 45%;
        top: 10%;
        left: 5%;

        
        background-color: #310314;
        padding-top: 5%;
        padding-left: 100px;
        margin-left: 10%;
        
    }

}

.barMain {
    height: 20%;
    font-size: 180%
}